/* Reset */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Project setup */
@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Permanent+Marker&family=Roboto:wght@400;700&display=swap');

:root {
    font-family: 'Roboto', sans-serif;
    --primary-color: lightgrey;
    --secondary-color: ;
    --accent-color: ;
    --main-bg-color: ;
}

h1, 
h2 {
    text-align: center;
}

h1 {
    font-size: 4rem;
    font-family: 'Permanent Marker', cursive;
}

.restartBtn {
    padding: .5em;
    background-color: purple;
    color: #fff;
    border-radius: 8px;
}

.players {
    margin: 1.5em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.players h3 {
    font-size: 2rem;
}

.gameboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0 auto;
    justify-content: center;
    gap: 3px;
    width: 30em;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7rem;
    font-family: 'Merienda One', cursive;
    background-color: var(--primary-color);
    cursor: pointer;
    width: 1.4em;
    height: 1.2em;
}

.inactive {
    color: var(--primary-color)
}

#result {
    margin-top: 1em;
    font-size: 2rem;
    color: rebeccapurple;
    font-style: italic;
}

.disableClicks {
    pointer-events: none;
    cursor: none;
}